/*
 * File: .eslintignore
 * Module: tsmath3d
 * Created Date: 2024-01-29
 * Author: Xu.WANG
 * -----
 * Last Modified:
 * Modified By:
 * -----
 * Copyright (c) 2024 Xu.WANG
 */

.eslintrc.cjs
dist
scripts
